.SelectedPlanet
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  background: rgba(0, 0, 0, .8)
  opacity: 0
  visibility: hidden

  &-Wrapper
    position: relative
    display: flex
    align-items: center
    justify-content: center
    height: 100vh
    overflow: auto

    @media (max-width: 425px)
      display: block
      width: 100%
      height: 100%

    .close
      cursor: pointer
      position: absolute
      right: 30px
      top: 0
      font-size: 4rem

  &-Content
    width: 600px
    max-width: 100%
    padding: 20px
    border: 4px solid #ffffff
    background: #000
    border-radius: 10px

    @media (max-width 768px)
      margin: 10px auto
      max-width: 90%

    h1
      color: yellow
      font-size: 2rem
      text-align: center
      border-bottom: 2px solid #fff
      padding-bottom: 20px
      margin-bottom: 20px

    p
      margin-bottom: 5px
      &.AppearsIn
        margin-bottom: 15px

    .Info
      margin-top: 15px
      font-size: 13px
      p
        line-height: 10px
