*
  margin: 0
  padding: 0
  box-sizing: border-box

html,
body,
#app
  height: 100%

body
  font-family: 'Lato', sans-serif
  background-image: url('./assets/background.jpg')
  background-size: cover
  color: #ffffff

a
  display: block

img
  display: block
  max-width: 100%
